@model IEnumerable<PruebaTrabajo.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Empleados</h1>

<table class="Tabla">
    <thead class="Cabezera">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                FechaContratacion
            </th>
            <th>
                Departamento
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="Celda">
            <td>
                @item.Nombre
            </td>
            <td>
                @item.Apellido
            </td>
            <td>
                @item.FechaContratacion
            </td>
            <td>
                @item.IdDepartamentoNavigation.NombreDepartamento
            </td>
            </tr>
}
    </tbody>
</table>
